# Editor files
.project
.vscode
/.settings
/.classpath
settings.json

# Server files
CFIDE
cfide
WEB-INF

# DBMigrate plugin: generated SQL
db/sql
migrator/sql 

# files directory where uploads go
files

# unpacked plugin folders
plugins/**/*
/plugins/**/

# AssetBundler plugin: generated bundles
javascripts/bundles
stylesheets/bundles

# Framework Files
cfwheels.*.zip
/wheels/**


# Other directories
/target
/temp/
/bluedragon/
/manual/
/subfolder/
/bin/
